.unslider {
	position: relative;
}

.unslider .bootstrap-slider a {
	box-shadow: none;
}

.unslider-arrow.next, .unslider-arrow.prev {
	bottom: 20px;
	background-color: white;
	padding: 5px;
	box-shadow: none;
}

.single ~ .unslider-arrow.next, .single ~ .unslider-arrow.prev {
	display:none;
}

.unslider-arrow.prev {
	right: 50px;
	left: auto;
}

.media-left {
	padding-right: 20px;
}

.bootstrap-slider .media-heading {
	line-height: 2em;
}